
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
main{
    margin-left: 10%;

    width: 80%;
    /* border: 1px solid; */
    height: auto;
    
}


/* ====================
    header and menu section */
.logo{
    font-size: 30px;
    width: 400px;
    border-radius: 8px;
    background-color: #886796;
}
.logo h1{
   text-align: center;
   color: cornsilk;
}
nav{ 
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 150px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 30px;
}
.menu{
    list-style: none;
    display: flex;

}
.menu li {
    margin: 15px;
    font-size: 25px;
    font-weight: bold;
}

/* ==========================================
    this is a prodacts photo album
    ========================================== */
    
.album-title{
    text-align: center;
    margin: 100px 0px;
    
}

.prodact-album{
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(1, 7, 7, 0.863);
    border-radius: 8px;
}

.prodact-frame{
    
    width: 300px;
    height: 255px;
    
    border-radius: 10px;
    position: relative;
    margin: 20px;
    overflow: hidden;
}
.prodact-pictur img{
    border-radius: 10px;
    
}
.prodact-name{
    display: none;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 0;
    text-align: center;
    margin-top: 30px;
    
    background-color: rgba(81, 85, 133, 0.39);
}
.prodact-name h2{
    margin-top: 10px;
    color: rgb(79, 83, 138);
    font-weight: bold;
}

.prodact-frame:hover .prodact-name{
    display: block;
    
}
.prodact-frame:hover img{
   transform: scale(1.2);
   transition: transform 2s ease-in-out;
}
/*============================
    this is a products section
  ============================  */
.products-item{
    display: flex;
    margin: 100px 40px;
    height: 480px;
    background-color: #f5f6fa;
    
}

.product-info .product-hading {
    
     margin: 40px  0;
     line-height: 30px;
     font-size: 28px;
     font-weight: bold;
     
     
}
.camera-info{
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
    
}



.product-info, .product-sample{
    width: 500px;
    margin-left: 100px;
   
    
}
.product-info{
    width: 500px;
    margin-left: 100px;
   
   margin-bottom: 30px;
    
}
.product-sample{
    width: 500px;
    margin-left: 100px;
    margin-top: 50px;
    
}
button{
    width: 200px;
    height: 50px;
    margin-left: 32px;
    margin-top: 40px;
    background-color: #8e44ad;
    border-radius: 8px;
    
}
button:hover{
    background-color: rgb(165, 150, 248);
    border: 1px solid #8e44ad;
    color: #8e44ad;
    
}
button a, .buy-now, i {
    text-decoration: none;
    color: cornsilk;
    font-size: 18px;
    margin-bottom: 10px;
    
    
}



/* ====================================
    this is a propular item Collection
   ===================================== */

.container{

    margin-top: 60px;
    background-color: #f5f6fa;
    
    
}
.container .popular-item-hading{
    
    text-align: center;
    color: rgb(123, 113, 143);
    font-size: 28px;
     font-weight: bold;
    
    
    
}
.popular-item{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 80px;
    
    margin-bottom: 100px;
    
}
.popular-photo{
    height: 500px;
    width: 300px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: rgb(228, 225, 228);
    
}
.popular-photo .item-title{
   margin-bottom: 40px;
    
}
.popular-photo h1, i{
    
    font-weight: bold;
    margin-top: 15px;
    padding-left: 15px;
    
    
}
.popular-photo img{
    width: 270px;
    padding-top: 20px;
    margin-left: 15px;
    
}
.item-title i{
    color: rgb(160, 160, 20);

}
.item-title .price{
    color: rgb(94, 95, 110);

}
.item-title p{
    margin-top: 10px;
    font-weight: bold;
    margin-left: 15px;
    
    
}


/*===============================
 this is a contact section 
 ================================= */

 .registration{
     background-image: url(../images/form.png);
     height: 500px;
     width: 100%;
     background-size: 100%;
    
 }
 .registration form{
     float: right;
     margin-right: 55px;
     margin-top: 70px;
 }
 .registration form input{
     height: 40px;
     width: 400px;
     font-size: 18px;
     font-weight: bold;
     padding-left: 20px;
     border: 2px solid #8e44ad;
     border-radius: 5px;
     margin-top: 15px;
     /* margin-right: 10px; */


 }
 .registration form input:hover{
     color: saddlebrown;
     border: 3px solid #d7b9e6;
     background-color: rgb(165, 150, 248);
     border-radius: 6px;
    

 }
 .form-btn{
     margin-left: 100px;
 }

.footer{
    width: 100%;
    height: 200px;
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    margin-top: 100px;
    
}
.footer h1, .copyright {
    color: blue;
}


.copyright{
    text-align: center;
     font-size: bold;
    display: inline-block;
   
}
.icin i{
    color: blue;
}
.footer h1 {
    padding-top: 50px;
    

}
@media (max-width:1024px) {
    .footer{
        width: 1250px;
        margin-top: 100px;
    }
    
}
@media (max-width: 412px) {
    .footer{
        width: 1220px;
        margin-top: 80px;
    }


    
}
@media  (max-width: 375px) {
    .logo ul{
        display: none;
    }
    .products-item{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 300px;
    }
   
    .popular-item{
       width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 100px;
       
    }
    .footer{
        width: 860px;
    }


    
}